.post {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.post span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .post {
        text-align: center;
    }
}

.preloader {
    height: 35px;
    width: 35px;
    border: 5px solid #bfbebb;
    border-top: 5px solid #D74747FF;
    border-radius: 50%;
    margin-top: 5px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}