
@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa-Regular.ttf");
}

body {
    font-family: "Evolventa", sans-serif;
}


.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.logo {
    height: 55px;
    width: 55px;
    order: 1;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0 5px 10px 0 #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.95;
    height: 60px;
    z-index: 12;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary {
    color: #fff;
    background: #124058;
}

.btn-primary:hover {
    background: #0B2635;
    transition: background 0.3s ease-in-out;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.navbar-menu {
    order: 2;
    display: flex;
}

.navbar-menu li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.navbar-menu a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    padding: 6px;
}

.clickedItem {
    background-color: #C94843 !important;
    color: #ffffff !important;
}

.navbar-menu a:hover {
    color: #124058;
    transition: color 0.3s ease-in-out;
}

.showcase-area {
    height: 50vh;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 3.5em;
}

#about {
    padding: 30px 0;
    background: #f5f5f7;
    margin: 30px;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}


#about p {
    color: #555;
}

#about .small-text {
    font-size: 1.7rem;
    color: #666;
    font-weight: 600;
}

.about-info{
    font-size: 1.2rem;
}

.about-img {
    flex: 1 1 300px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

.gallery-photo{
    width: 100%;
    height: 550px;
    object-fit: contain;
}

.gallery-cell{
    width: 100%;
}

.photo-container{
    display: flex;
    overflow-x: auto;
    column-gap: 5px;
    height: 100%;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-img img {
    display: block;
    height: 500px;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #666;
}

tr:nth-child(odd) td {
    background-color: #F5F5F7;
}

table, th {
    border: 1px solid #2F2F2F;
}

td {
    display: table-cell;
    vertical-align: inherit;
}


table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    display: grid;
    text-align: center;
    border-color: gray;
    grid-template-columns: 40% 20% 20% 20%;
}

thead, tbody, tr {
    display: contents;
}

@media (max-width: 858px) {
    .navbar {
        opacity: 0.98;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        bottom: 30px;
        left: 19px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        height: 23px;
        width: 35px;
        position: absolute;
        left: 20px;
        top: 3px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .navbar-menu {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;
    }

    .navbar .navbar-menu li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: -8px;
        right: 10px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .navbar-menu {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
}

@media (max-width: 500px) {
    .navbar .menu-items li {
        font-size: 1.6rem;
    }

    .navbar .navbar-menu li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}